section.calc__over
  .calc__row
    .calc__top
      span Серия  стеллажа / грузоподъёмность
      select.common__select.js-select
        option(value="1") Стеллажи Профи-Т / до 350 кг на полку — фанерный настил
        option(value="2") Стеллажи Профи-Т2 / до 350 кг на полку — фанерный настил Стеллажи Профи-Т2 / до 350 кг на полку — фанерный настил
        option(value="3") Стеллажи Профи-Т3 / до 350 кг на полку — фанерный настил
        option(value="4") Стеллажи Профи-Т4 / до 350 кг на полку — фанерный настил
      button(type="button").calc__info-delete.js-calc-delete Удалить
    .calc__bottom
      .calc__main
        aside.calc__imgover
          img(src="img/calc1.jpg").calc__img
        .calc__selectors
          .calc__selectors-inner
            .calc__selector
              label.calc__selector-label Высота стеллажа
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") 1500
                  option(value="2") 1510
                  option(value="3") 1520
                  option(value="4") 1530
            .calc__selector
              label.calc__selector-label Количество полок
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") 5
                  option(value="2") 6
                  option(value="3") 7
                  option(value="4") 8
            .calc__selector
              label.calc__selector-label Ширина стеллажа
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") 700
                  option(value="2") 800
                  option(value="3") 900
                  option(value="4") 1000
            .calc__selector
              label.calc__selector-label Количество секций
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") 4
                  option(value="2") 5
                  option(value="3") 6
                  option(value="4") 7
            .calc__selector
              label.calc__selector-label Глубина стеллажа
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") 300
                  option(value="2") 400
                  option(value="3") 500
                  option(value="4") 600
      aside.calc__info
        .calc__info-inner
          p.calc__info-title Стоимость
          p.calc__info-cost 14 578 
            span руб.
          button(type="button", data-default="Добавить стеллаж", data-added="Стеллаж добавлен").btn.calc__info-btn.js-calc-add.added
  .calc__row
    .calc__top
      span Серия  стеллажа / грузоподъёмность
      select.common__select.js-select
        option(value="1") Стеллажи Профи-Т / до 350 кг на полку — фанерный настил
        option(value="2") Стеллажи Профи-Т2 / до 350 кг на полку — фанерный настил
        option(value="3") Стеллажи Профи-Т3 / до 350 кг на полку — фанерный настил
        option(value="4") Стеллажи Профи-Т4 / до 350 кг на полку — фанерный настил
      button(type="button").calc__info-delete.js-calc-delete Удалить
    .calc__bottom
      .calc__main
        aside.calc__imgover
          img(src="img/calc1.jpg").calc__img
        .calc__selectors
          .calc__selectors-inner
            .calc__selector
              label.calc__selector-label Высота стеллажа
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") 1500
                  option(value="2") 1510
                  option(value="3") 1520
                  option(value="4") 1530
            .calc__selector
              label.calc__selector-label Количество полок
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") 5
                  option(value="2") 6
                  option(value="3") 7
                  option(value="4") 8
            .calc__selector
              label.calc__selector-label Ширина стеллажа
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") 700
                  option(value="2") 800
                  option(value="3") 900
                  option(value="4") 1000
            .calc__selector
              label.calc__selector-label Количество секций
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") 4
                  option(value="2") 5
                  option(value="3") 6
                  option(value="4") 7
            .calc__selector
              label.calc__selector-label Глубина стеллажа
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") 300
                  option(value="2") 400
                  option(value="3") 500
                  option(value="4") 600
            .calc__selector.calc__selector_long
              label.calc__selector-label Тип расстановки
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") В линейку
                  option(value="2") В квадратик
                  option(value="3") В круг
                  option(value="4") В шар
            .calc__selector
              label.calc__selector-label Грузоподъемность
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") 300
                  option(value="2") 400
                  option(value="3") 500
                  option(value="4") 600
            .calc__selector.calc__selector_long
              label.calc__selector-label Тип полки
              .calc__selector-sel
                select.common__select.js-select
                  option(value="1") Перфорированная
                  option(value="2") Гладкая
                  option(value="3") Шероховатая
      aside.calc__info
        .calc__info-inner
          p.calc__info-title Стоимость
          p.calc__info-cost 14 578 
            span руб.
          button(type="button", data-default="Добавить стеллаж", data-added="Стеллаж добавлен").btn.calc__info-btn.js-calc-add
  section.calc__result
    p.calc__result-title Результаты расчета
    table.calc__result-table
      thead
        tr
          th Наименование
          th Нагрузка<br>на полку, кг
          th Ширина,<br>мм
          th Высота,<br>мм
          th Глубина,<br>мм
          th Кол-во<br>секций
          th Кол-во<br>полок
          th Тип<br>расстановки
          th Тип<br>полки
          th Цена, руб.
      tbody
        tr
          td Стеллаж перфорированный Лайт-234
          td 120
          td 500
          td 1600
          td 500
          td 100
          td 3
          td В линейку
          td Цельная
          td 3 000
            a(href="#").calc__result-buy.js-calc-tocart
        tr
          td Стеллаж перфорированный Лайт-234
          td 120
          td 1000
          td 2000
          td 500
          td 100
          td 4
          td В линейку
          td Цельная
          td 3 400
            a(href="#").calc__result-buy.js-calc-tocart
    .calc__result-bottom
      .calc__result-calced 
        span итого
        p.calc__result-calced-cost 1 956
          span руб.
      button(type="button").btn.calc__result-calced-buyall Купить весь набор