mixin newsElem(data)
  li.news__elem
    a(href="#").news__imgover
      img(src=data.img, alt="").news__img
    .news__content
      p.news__date #{data.date}
      a(href="#").news__href !{data.href}
      p.news__text !{data.text}