mixin project(data)
  a(href="#").projects__imgover
    img(src=data.img, alt="").projects__img
    span.projects__cost !{data.cost}
  a(href="#").projects__href !{data.href}
  p.projects__text !{data.text}