mixin project(data)
  a(href="#").project__imgover
    img(src="#{data.img}", alt="").project__img
    span.project__cost #{data.cost}
  a(href="#").project__href !{data.href}
  p.project__text !{data.text}