section.seotext
  .text_short
    h2 Продажа стеллажей от производителя «ГТС Складские системы»
    p Мы занимаемся продажей стеллажей более 20 лет и за это время досконально изучили своих клиентов и нюансы логистических российских складов. В сочетании с высокой квалификацией наших специалистов это дает возможность предложить каждому заказчику самый выгодный вариант проекта складских стеллажных систем с учетом особенностей помещения, специфики грузов и организации работы склада.
    p Также мы изготавливаем стеллажи на заказ, по вашим размерам, с учетом всех пожеланий. Вы можете купить стеллажи или сделать заказ на стеллажи с понедельника по пятницу с 9 до 18 часов (без обеда) в нашем офисе в Москве.
  .h-seo__bordered
    .h-seo__left
      .common__row
        p Производство и продажа стеллажей в Москве – это основное направление деятельности компании «ГТС Складские системы». У нас вы найдете широкий ассортимент стеллажей для склада и офиса:
      .common__row
        .common__col
          ul
            li Полочные стеллажи малой и средней грузоподъемности для офисов, архивов, подсобных помещений и небольших складов
            li Усиленные полочные сталлажи, грузоподъемностью до 900 кг на полку для складов штучных грузов
        .common__col
          ul
            li Фронтальные и набивные стеллажи для поддонов
            li Передвижные архивные стеллажи
            li Стеллажи специального назначения для шин, рулонов, торговые
    .h-seo__right
      .video__elem
        span.video__elem-bg(style="background-image: url(img/video4.jpg)")
        .video__content
          a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").video__play.js-lightbox
          p.video__text Бесплатное оснащение складского помещения нашими сотрудниками
  .text_short
    p Мы занимаемся продажей стеллажей более 20 лет и за это время досконально изучили своих клиентов и нюансы логистических российских складов. В сочетании с высокой квалификацией наших специалистов это дает возможность предложить каждому заказчику самый выгодный вариант проекта складских стеллажных систем с учетом особенностей помещения, специфики грузов и организации работы склада.
    p Также мы изготавливаем стеллажи на заказ, по вашим размерам, с учетом всех пожеланий. Вы можете купить стеллажи или сделать заказ на стеллажи с понедельника по пятницу с 9 до 18 часов (без обеда) в нашем офисе в Москве.
    p Мы занимаемся продажей стеллажей более 20 лет и за это время досконально изучили своих клиентов и нюансы логистических российских складов. В сочетании с высокой квалификацией наших специалистов это дает возможность предложить каждому заказчику самый выгодный вариант проекта складских стеллажных систем с учетом особенностей помещения, специфики грузов и организации работы склада.
    p Также мы изготавливаем стеллажи на заказ, по вашим размерам, с учетом всех пожеланий. Вы можете купить стеллажи или сделать заказ на стеллажи с понедельника по пятницу с 9 до 18 часов (без обеда) в нашем офисе в Москве.
  img(src="img/seo-img.jpg")
  .text_short
    p Мы занимаемся продажей стеллажей более 20 лет и за это время досконально изучили своих клиентов и нюансы логистических российских складов. В сочетании с высокой квалификацией наших специалистов это дает возможность предложить каждому заказчику самый выгодный вариант проекта складских стеллажных систем с учетом особенностей помещения, специфики грузов и организации работы склада.
    p Также мы изготавливаем стеллажи на заказ, по вашим размерам, с учетом всех пожеланий. Вы можете купить стеллажи или сделать заказ на стеллажи с понедельника по пятницу с 9 до 18 часов (без обеда) в нашем офисе в Москве.
    p Мы занимаемся продажей стеллажей более 20 лет и за это время досконально изучили своих клиентов и нюансы логистических российских складов. В сочетании с высокой квалификацией наших специалистов это дает возможность предложить каждому заказчику самый выгодный вариант проекта складских стеллажных систем с учетом особенностей помещения, специфики грузов и организации работы склада.
    p Также мы изготавливаем стеллажи на заказ, по вашим размерам, с учетом всех пожеланий. Вы можете купить стеллажи или сделать заказ на стеллажи с понедельника по пятницу с 9 до 18 часов (без обеда) в нашем офисе в Москве.
  .h-contacts
    p.h-contacts__title Если у вас остались вопросы, вы можете задать нам их по телефонам
    .h-contacts__col
      p.h-contacts__tel (495) 785-37-87
      p.h-contacts__text Усиленные складские стеллажи «Оптима», паллетные стеллажи, мезонины.
    .h-contacts__col
      p.h-contacts__tel (495) 788-48-42
      p.h-contacts__text Среднегрузовые стеллажи «Профи-Т», металлические стеллажи «Лайт» и «Универсал», передвижные стеллажи.
    .h-contacts__col
      p.h-contacts__text Или свяжитесь другим удобным способом
      .h-contacts__socials
        a(href="#", target="blank").h-contacts__social.h-contacts__social_viber
        a(href="#", target="blank").h-contacts__social.h-contacts__social_whatsapp
        a(href="#", target="blank").h-contacts__social.h-contacts__social_vk
        a(href="#", target="blank").h-contacts__social.h-contacts__social_fb