footer.footer
  .container
    .footer__cols
      .footer__col
        img(src="img/footer-logo.png").footer__logo
        p.footer__info © ООО «Горторгснаб» Складское оборудование и техника, 2000–2018 
        p.footer__addr 117312, Москва,  проспект 60-летия Октября, дом 11-А
        p.footer__phones
          a(href="tel:+74957889934") (495) 788-99-34
          | &nbsp;&nbsp;
          a(href="tel:88002340684") 8-800-234-06-84
        a(href="mailto:salegts@gortorsnab.ru").footer__mail salegts@gortorsnab.ru
        .footer__socials
          a(href="#").footer__social.footer__social_fb
          a(href="#").footer__social.footer__social_vk
          a(href="#").footer__social.footer__social_yt
          a(href="#").footer__social.footer__social_tw
      .footer__col
        a(href="#").footer__mainhref Продукция
        ul.footer__listhref
          li.footer__itemhref
            a(href="#").footer__href Стеллажи
          li.footer__itemhref
            a(href="#").footer__href Складская техника
          li.footer__itemhref
            a(href="#").footer__href Подъемное оборудование
          li.footer__itemhref
            a(href="#").footer__href Шкафы, верстаки, сейфы
          li.footer__itemhref
            a(href="#").footer__href Автомобильные аксессуары
          li.footer__itemhref
            a(href="#").footer__href Строительное оборудование
          li.footer__itemhref
            a(href="#").footer__href Торговое оборудование
          li.footer__itemhref
            a(href="#").footer__href Другое оборудование
        button(type="button", data-fancybox, data-src="#calc").btn.footer__calc Калькулятор стеллажей
      .footer__col
        a(href="#").footer__mainhref Сервис и обслуживание
        ul.footer__listhref
          li.footer__itemhref
            a(href="#").footer__href Помощь в переезде склада
          li.footer__itemhref
            a(href="#").footer__href Монтаж сборщиками
          li.footer__itemhref
            a(href="#").footer__href Выезд сборщиков в регионы
          li.footer__itemhref
            a(href="#").footer__href Шеф-монтаж
        a(href="#").footer__mainhref Партнерам
        ul.footer__listhref
          li.footer__itemhref
            a(href="#").footer__href Преимущества работы
      .footer__col
        a(href="#").footer__mainhref О компании
        ul.footer__listhref
          li.footer__itemhref
            a(href="#").footer__href Новости
          li.footer__itemhref
            a(href="#").footer__href Производство
          li.footer__itemhref
            a(href="#").footer__href Проекты
          li.footer__itemhref
            a(href="#").footer__href Акции
          li.footer__itemhref
            a(href="#").footer__href Оплата и доставка
          li.footer__itemhref
            a(href="#").footer__href Возврат и обмен товара
          li.footer__itemhref
            a(href="#").footer__href Контактная информация
          li.footer__itemhref
            a(href="#").footer__href.footer__href_white.footer__href_bordered Бесплатная доставка
        a(href="https://www.dextra.ru/", target="_blank").footer__dextra Разработка сайта:
          span Интернет-агентство Dextra

script(type="text/javascript", src="static/js/vendor.js")
script(type="text/javascript", src="static/js/script.js")