footer.footer
  .container
    .footer__cols
      .footer__col
        img(src="img/footer-logo.png").footer__logo
        p.footer__info © ООО «Горторгснаб» Складское оборудование и техника, 2000–2018 
        p.footer__addr 117312, Москва,  проспект 60-летия Октября, дом 11-А
        p.footer__phones
          a(href="tel:+74957889934") (495) 788-99-34
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
          a(href="tel:88002340684") 8-800-234-06-84
        a(href="mailto:salegts@gortorsnab.ru").footer__mail salegts@gortorsnab.ru
        .footer__socials
          a(href="#", target="_blank").footer__social.footer__social_fb
          a(href="#", target="_blank").footer__social.footer__social_vk
          a(href="#", target="_blank").footer__social.footer__social_yt
          a(href="#", target="_blank").footer__social.footer__social_tw
      .footer__col
        a(href="#").footer__mainhref Продукция
        ul.footer__listhref
          li.footer__itemhref
            a(href="#").footer__href Стеллажи
          li.footer__itemhref
            a(href="#").footer__href Складская техника
          li.footer__itemhref
            a(href="#").footer__href Грузоподъемное оборудование
          li.footer__itemhref
            a(href="#").footer__href Шкафы, верстаки, сейфы
          li.footer__itemhref
            a(href="#").footer__href Автомобильные аксессуары
          li.footer__itemhref
            a(href="#").footer__href Строительное оборудование
          li.footer__itemhref
            a(href="#").footer__href Торговое оборудование
          li.footer__itemhref
            a(href="#").footer__href Другое оборудование
        button(type="button", data-fancybox, data-src="#calc").btn.footer__calc Калькулятор стеллажей
      .footer__col
        a(href="#").footer__mainhref Сервис и обслуживание
        ul.footer__listhref
          li.footer__itemhref
            a(href="#").footer__href Помощь в переезде склада
          li.footer__itemhref
            a(href="#").footer__href Монтаж сборщиками
          li.footer__itemhref
            a(href="#").footer__href Выезд сборщиков в регионы
          li.footer__itemhref
            a(href="#").footer__href Шеф-монтаж
        a(href="#").footer__mainhref Партнерам
        ul.footer__listhref
          li.footer__itemhref
            a(href="#").footer__href Преимущества работы
      .footer__col
        a(href="#").footer__mainhref О компании
        ul.footer__listhref
          li.footer__itemhref
            a(href="#").footer__href Новости
          li.footer__itemhref
            a(href="#").footer__href Производство
          li.footer__itemhref
            a(href="#").footer__href Проекты
          li.footer__itemhref
            a(href="#").footer__href Акции
          li.footer__itemhref
            a(href="#").footer__href Оплата и доставка
          li.footer__itemhref
            a(href="#").footer__href Возврат и обмен товара
          li.footer__itemhref
            a(href="#").footer__href Контактная информация
          li.footer__itemhref
            a(href="#").footer__href.footer__href_white.footer__href_bordered Бесплатная доставка
        .footer__dextra-over
          a(href="https://www.dextra.ru/", target="_blank").footer__dextra Разработка сайта:<br>
            span Интернет-агентство Dextra

.hidden-block
  #city.popup.popup_city
    p.popup__title Выбрать город
    .popup__cities
      .popup__citycol
        .popup__cityblock
          p.popup__city-alpha А
          a(href="#").popup__city-href Абакан
          a(href="#").popup__city-href Аксай
          a(href="#").popup__city-href Альметьевск
          a(href="#").popup__city-href Архангельск
          a(href="#").popup__city-href Астрахань
        .popup__cityblock
          p.popup__city-alpha Б
          a(href="#").popup__city-href Барнаул
          a(href="#").popup__city-href Батайск
          a(href="#").popup__city-href Белгород
          a(href="#").popup__city-href Березники
          a(href="#").popup__city-href Бийск
          a(href="#").popup__city-href Борисоглебск
          a(href="#").popup__city-href Братск
          a(href="#").popup__city-href Брянск
          a(href="#").popup__city-href Бузулуг
        .popup__cityblock
          p.popup__city-alpha В
          a(href="#").popup__city-href Великий Новгород
          a(href="#").popup__city-href Владимир
          a(href="#").popup__city-href Волгоград
          a(href="#").popup__city-href Волжский
          a(href="#").popup__city-href Вологда
          a(href="#").popup__city-href Воронеж
          a(href="#").popup__city-href Выборг
          a(href="#").popup__city-href Выкса
        .popup__cityblock
          p.popup__city-alpha Д
          a(href="#").popup__city-href Дертюли
      .popup__citycol
        .popup__cityblock
          p.popup__city-alpha Е
          a(href="#").popup__city-href Екатеринбург
        .popup__cityblock
          p.popup__city-alpha И
          a(href="#").popup__city-href Иваново
          a(href="#").popup__city-href Ижевск
          a(href="#").popup__city-href Иркутск
        .popup__cityblock
          p.popup__city-alpha Й
          a(href="#").popup__city-href Йошкар-Ола
        .popup__cityblock
          p.popup__city-alpha К
          a(href="#").popup__city-href Казань
          a(href="#").popup__city-href Кемерово
          a(href="#").popup__city-href Киров
          a(href="#").popup__city-href Котлас
          a(href="#").popup__city-href Краснодар
          a(href="#").popup__city-href Красноярск
          a(href="#").popup__city-href Курган
          a(href="#").popup__city-href Курск
        .popup__cityblock
          p.popup__city-alpha Л
          a(href="#").popup__city-href Лермонтов
          a(href="#").popup__city-href Липец
        .popup__cityblock
          p.popup__city-alpha М
          a(href="#").popup__city-href Магнитогорск
          a(href="#").popup__city-href Миасс
          a(href="#").popup__city-href Мурманск
          a(href="#").popup__city-href Муром
      .popup__citycol
        .popup__cityblock
          p.popup__city-alpha Н
          a(href="#").popup__city-href Набережные Челны
          a(href="#").popup__city-href Нефтекамск
          a(href="#").popup__city-href Нижневартовск
          a(href="#").popup__city-href Нижнекамск
          a(href="#").popup__city-href Нижний Новгород
          a(href="#").popup__city-href Нижний Тагил
          a(href="#").popup__city-href Новокузнецк
          a(href="#").popup__city-href Новосибирск
          a(href="#").popup__city-href Новый Уренгой
        .popup__cityblock
          p.popup__city-alpha О
          a(href="#").popup__city-href Октябрьский
          a(href="#").popup__city-href Омск
          a(href="#").popup__city-href Оренбург
          a(href="#").popup__city-href Орск
        .popup__cityblock
          p.popup__city-alpha П
          a(href="#").popup__city-href Пенза
          a(href="#").popup__city-href Пермь
          a(href="#").popup__city-href Петрозаводск
          a(href="#").popup__city-href Псков
        .popup__cityblock
          p.popup__city-alpha Р
          a(href="#").popup__city-href Ростов-на-Дону
          a(href="#").popup__city-href Рязань
      .popup__citycol
        .popup__cityblock
          p.popup__city-alpha С
          a(href="#").popup__city-href Сальск
          a(href="#").popup__city-href Самара
          a(href="#").popup__city-href Саранск
          a(href="#").popup__city-href Саратов
          a(href="#").popup__city-href Северодвинск
          a(href="#").popup__city-href Смоленск
          a(href="#").popup__city-href Ставрополь
          a(href="#").popup__city-href Стерлитамак
          a(href="#").popup__city-href Сургут
          a(href="#").popup__city-href Сыктывкар
        .popup__cityblock
          p.popup__city-alpha Т
          a(href="#").popup__city-href Тамбов
          a(href="#").popup__city-href Тверь
          a(href="#").popup__city-href Тольятти
          a(href="#").popup__city-href Томск
          a(href="#").popup__city-href Тула
          a(href="#").popup__city-href Тюмень
        .popup__cityblock
          p.popup__city-alpha У
          a(href="#").popup__city-href Ульяновск
          a(href="#").popup__city-href Уфа
        .popup__cityblock
          p.popup__city-alpha Ч
          a(href="#").popup__city-href Чебоксары
          a(href="#").popup__city-href Челябинск
          a(href="#").popup__city-href Череповец
          a(href="#").popup__city-href Чита
        .popup__cityblock
          p.popup__city-alpha Я
          a(href="#").popup__city-href Ярославь
  #text.popup
    p.popup__title Заголовок текстового попапа
    p.popup__subtitle Текст для попапа, говорящий о том, что случилось.
  #project.popup
    p.popup__title Заказать проект склада
    p.popup__subtitle Обратите внимание, поля со звездочками – обязательны для заполнения.
    form.popup__form
      .common__row
        input(type="text", data-req="req").common__input
        label.common__placeholder ФИО
          span *
      .common__row
        input(type="text", data-req="req").common__input.js-phone
        label.common__placeholder Телефон
          span *
      .common__row.common__row_popcheck
        .fakecheckbox
          input(type="checkbox", value="", name="agreement", checked)#agreement1.fakecheckbox__truecheck
          label(for="agreement1").fakecheckbox__label Я даю согласие на 
            a(href="#") обработку персональных данных
        input(type="submit", value="Отправить").btn.common__sbm
  #projectfree.popup
    p.popup__title Заказать бесплатный проект склада
    p.popup__subtitle Обратите внимание, поля со звездочками – обязательны для заполнения.
    .popup__projects
      p.popup__projects-title Выбранные категории товаров:
      ol(data-cats).hidden
    form.popup__form
      .common__row
        input(type="text", data-req="req").common__input
        label.common__placeholder ФИО
          span *
      .common__row
        input(type="text", data-req="req").common__input.js-phone
        label.common__placeholder Телефон
          span *
      .common__row.common__row_popcheck
        .fakecheckbox
          input(type="checkbox", value="", name="agreement", checked)#agreement1.fakecheckbox__truecheck
          label(for="agreement1").fakecheckbox__label Я даю согласие на 
            a(href="#") обработку персональных данных
        input(type="submit", value="Отправить").btn.common__sbm
  #question.popup
    p.popup__title Задать вопрос
    p.popup__subtitle Обратите внимание, поля со звездочками – обязательны для заполнения.
    form.popup__form
      .common__row
        input(type="text", data-req="req").common__input
        label.common__placeholder ФИО
          span *
      .common__row
        input(type="text", data-req="req").common__input.js-phone
        label.common__placeholder Телефон
          span *
      .common__row
        input(type="text", data-req="req", data-type="email").common__input
        label.common__placeholder E-mail
          span *
      .common__row
        textarea(data-req="req").common__textarea
        label.common__placeholder Вопрос
          span *
      .common__row.common__row_popcheck
        .fakecheckbox
          input(type="checkbox", value="", name="agreement", checked)#agreement1.fakecheckbox__truecheck
          label(for="agreement1").fakecheckbox__label Я даю согласие на 
            a(href="#") обработку персональных данных
        input(type="submit", value="Отправить").btn.common__sbm
  #makereview.popup
    p.popup__title Оставить отзыв
    p.popup__subtitle Оставьте  отзыв о проделаной работе с помощью этой формы. Помогите нам стать лучше. Обратите внимание, поля со звездочками – обязательны для заполнения.
    form.popup__form
      .common__row
        .reviews__form-stars
          input(type="stars", value="").reviews__form-stars-input.js-reviews-starinput
          span(data-star="1").reviews__form-star.js-reviews-star
          span(data-star="2").reviews__form-star.js-reviews-star
          span(data-star="3").reviews__form-star.js-reviews-star
          span(data-star="4").reviews__form-star.js-reviews-star
          span(data-star="5").reviews__form-star.js-reviews-star
      .common__row
        input(type="text").common__input
        label.common__placeholder Название компании
      .common__row
        input(type="text", data-req="req").common__input
        label.common__placeholder ФИО
          span *
      .common__row
        input(type="text", data-req="req").common__input
        label.common__placeholder Должность
          span *
      .common__row
        input(type="text", data-req="req", data-type="email").common__input
        label.common__placeholder E-mail
          span *
      .common__row
        textarea(data-req="req").common__textarea
        label.common__placeholder Текст отзыва
          span *
      .common__row
        .common-fileovers
          .common__fileover
            input(type="file", name="").common__file#file1.js-common-fileinput
            label(for="file1", data-default="Добавить логотип").common__filename.js-common-file Добавить логотип
            button(type="button").common__filedelete.js-common-filedelete
          .common__fileover
            input(type="file", name="").common__file#file2.js-common-fileinput
            label(for="file2", data-default="Добавить изображение").common__filename.js-common-file Добавить изображение
            button(type="button").common__filedelete.js-common-filedelete
      .common__row.common__row_popcheck
        .fakecheckbox
          input(type="checkbox", value="", name="agreement", checked)#agreement1.fakecheckbox__truecheck
          label(for="agreement1").fakecheckbox__label Я даю согласие на 
            a(href="#") обработку персональных данных
        input(type="submit", value="Отправить").btn.common__sbm
script(src="static/js/vendor.js")
script(src="static/js/script.js")