header.header
  .header__top
    .town Ваш город
      a(href="#").town-href Петропавловск-Камчатский
    nav.menu
      ul.menu-list
        li.menu-item
          a(href="#").menu-item.active О компании
        li.menu-item
          a(href="#").menu-item Производство
        li.menu-item
          a(href="#").menu-item Стать дилером
        li.menu-item
          a(href="#").menu-item Контакты
  .header__bottom
    .header__icons
      span.header__icon.header__icon_card.empty 0
      a(href="#").header__icon.header__icon_favorite 2
      a(href="#").header__icon.header__icon_compare 3
    .header__contacts
      p.header__contacts-row Бесплатно по России
        a(href="tel:+78002340684") 8 (800) 234-06-84
      p.header__contacts-row Без выходных с 9:00 до 19:00
        a(href="tel:+74957889934") +7 (495) 788-99-34
    form.search
      input(type="submit", value="").search__icon
      input(type="text", placeholder="Поиск..").search__input
    a(href="#").header__logo
      img(src="img/logo.png", alt="").header__logo-img
    nav.navcats
      ul.navcats__list
        li.navcats__item
          a(href="#").navcats__item-href.navcats__item-href_stell Стеллажи
        li.navcats__item
          a(href="#").navcats__item-href.navcats__item-href_tech Техника
        li.navcats__item
          a(href="#").navcats__item-href.navcats__item-href_serv Сервис
    