doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    main.content
      .container
        section.breadcrumbs
          a(href="#").breadcrumbs__href Главная
          span.breadcrumbs__delim /
          a(href="#").breadcrumbs__href О компании
          span.breadcrumbs__delim /
        h1 Статьи
        .news
          include blocks/news-elem
        
          -var newsArray = []
          -newsArray.push({img: 'img/news1.jpg', date: "12 апреля 2018", href: "Качество не обязательно должно быть слишком дорогим! Наше предложение тому подтверждение", text: 'ГТС «Складские системы» уже более 20 лет обеспечивает своих клиентов надежной техникой для любых нужд. Мы всегда стремимся дать нашим клиентам наиболее комфортные условия по самым низким ценам. Выражение "дешево и сердито" как нельзя лучше описывает наше новое предложение специально для вас!', mainNews: 'true'})
          -newsArray.push({img: 'img/news2.jpg', date: "6 февраля 2018", href: "На гидравлические штабелеры с электроподъемом SMART! B 2000 RDP Smart Basic", text: 'Для тех кто ищет максимальную выгоду, мы снизили цены на популярные модели штабелеров с электроподъемом SMART BDA!'})
          -newsArray.push({img: 'img/news3.jpg', date: "15 ноября 2017", href: "Отличная новость! Популярнейший стеллаж Профи-Т теперь и с металлическим настилом!", text: "Отличная новость! Популярнейший стеллаж Профи-Т теперь и с металлическим настилом"})
          -newsArray.push({img: 'img/template.png', date: "12 апреля 2018", href: "Скидки до 30% на большинство электрических тельферов!", text: 'Тельфер - это удобный, надёжный и мощный вид грузоподъёмного оборудования, который предназначен для вертикального подъёма грузов, а также...'})
          -newsArray.push({img: 'img/news4.jpg', date: "6 февраля 2018", href: "Пополнение в разделе электрических самоходных тележек.", text: 'Компания EP давно зарекомендовала себя как производитель качественной и надежной техники, следящий за инновациями в мире складской техники.'})
          -newsArray.push({img: 'img/news3.jpg', date: "15 ноября 2017", href: "Самоходный штабелер SMART CDDR10-E", text: ""})
          -newsArray.push({img: 'img/news2.jpg', date: "6 февраля 2018", href: "График работы в майские праздники", text: 'Обращаем Ваше внимание на график работы компании в майские праздники'})
          -newsArray.push({img: 'img/news3.jpg', date: "15 ноября 2017", href: "Новые модели гидравлических штабелеров с классическими и раздвижными вилами", text: "Рады представить вам обновленный ассортимент гидравлических штабелеров SMART."})
          -newsArray.push({img: 'img/template.png', date: "12 апреля 2018", href: "Самоходные электроштабелеры SMART QDA", text: 'Представляем вашему вниманию новинку каталога - современные самоходные штабелеры SMART QDA.'})
          ul.news__list
            for news in newsArray
              +newsElem(news)
          include blocks/pagination 
    include layout/__footer