doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    main.content
      .container
        section.breadcrumbs
          a(href="#").breadcrumbs__href Главная
          span.breadcrumbs__delim /
          a(href="#").breadcrumbs__href Стеллажи для дома и офиса
          span.breadcrumbs__delim /
          a(href="#").breadcrumbs__href Стеллажи металлические универсальные «Лайт»
          span.breadcrumbs__delim /
        h1 Стеллаж Металлический Лайт-234
        section.card-page.js-cardpage
          section.card__main
            section.card__main-about
              section.card__main-top
                .card__main-gallery
                  .card__main-mainover.js-device-mainover
                    img(src="img/card-device.jpg", data-index="1").card__main-mainimg.js-device-main
                    .card__main-hide
                      a(href="img/card-device.jpg").card__main-glightbox
                      a(href="img/inews1.jpg").card__main-glightbox
                      a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").card__main-glightbox
                      a(href="img/inews3.jpg").card__main-glightbox
                  .card__main-car-over
                    .swiper-container.card__main-car.js-serv-car
                      .swiper-wrapper
                        .swiper-slide
                          .card__main-carelem.active.js-serv-img
                            img(src="img/card-device-thumb1.jpg", data-index="1", data-original="img/serv-device.jpg").card__main-img
                        .swiper-slide
                          .card__main-carelem.js-serv-img
                            img(src="img/card-device-thumb2.jpg", data-index="2", data-original="img/inews1.jpg").card__main-img
                        .swiper-slide
                          .card__main-carelem.card__main-carelem_video.js-serv-img
                            img(src="img/card-device-thumb3.jpg", data-index="3", data-original="img/inews2.jpg").card__main-img
                        .swiper-slide
                          .card__main-carelem.js-serv-img
                            img(src="img/card-device-thumb4.jpg", data-index="4", data-original="img/inews3.jpg").card__main-img
                    .swiper-button-prev.swiper-button-prev_dark
                    .swiper-button-next.swiper-button-next_dark
                aside.card__params
                  p.card__params-title Характеристики
                  .card__params-row
                    label.card__params-label Высота
                    .card__params-value
                      select(name="").js-select
                        option(val="1500", selected) 1500
                        option(val="1600") 1600
                        option(val="1700") 1700
                      | мм
                  .card__params-row
                    label.card__params-label Ширина
                    .card__params-value
                      select(name="").js-select
                        option(val="500", selected) 500
                        option(val="600") 600
                        option(val="700") 700
                        option(val="800") 800
                        option(val="900") 900
                      | мм
                  .card__params-row
                    label.card__params-label Глубина
                    .card__params-value
                      select(name="").js-select
                        option(val="500", selected) 500
                        option(val="600") 600
                        option(val="700") 700
                        option(val="800") 800
                        option(val="900") 900
                      | мм
                  .card__params-row
                    label.card__params-label Количество полок
                    .card__params-value
                      select(name="").js-select
                        option(val="1", selected) 1
                        option(val="2") 2
                        option(val="3") 3
                        option(val="4") 4
                        option(val="5") 5
                      | мм
                  .card__params-row
                    label.card__params-label Нагрузка на полку
                    .card__params-value
                      select(name="").js-select
                        option(val="120", selected) 120
                        option(val="130") 130
                        option(val="140") 140
                        option(val="150") 150
                        option(val="160") 160
                      | мм
                  .card__params-row
                    label.card__params-label Шаг перфорации
                    .card__params-value 25 мм
                  .card__params-row
                    label.card__params-label Крупление полок
                    .card__params-value На болтах
                  .card__params-row
                    label.card__params-label Покрытие
                    .card__params-value Порошковое полимерное
                  .card__params-row
                    label.card__params-label Покрытие
                    .card__params-value Порошковое полимерное
                  .card__params-row
                    label.card__params-label Цвет покрытия
                    .card__params-value Ral 7035 (светло-серый)
                  .card__params-row
                    label.card__params-label Способ сборки
                    .card__params-value Лентой, уступом
                  .card__params-hidden
                    .card__params-row
                      label.card__params-label Способ сборки
                      .card__params-value Лентой, уступом
                    .card__params-row
                      label.card__params-label Способ сборки
                      .card__params-value Лентой, уступом
                  .card__params-row
                    a(href="#", data-default="Все характеристики", data-open="Скрыть").card__params-tochars.js-card-params
              section.card__main-text
                p Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм. Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм. Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм. Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм.Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм.
                p БЕСПЛАТНО осуществляем доставку до транспортной компании «Деловые линии» в понедельник, среду и пятницу. В остальные дни доставка до «Деловых линий» и до ДРУГИХ ТРАНСПОРТНЫХ КОМПАНИЙ по тарифам доставки по Москве. Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм. Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм. Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм. Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм.Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм.
                p Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм. Изготовлены из высококачественной стали, окрашены порошковой полимерной краской светло-серого цвета. Шаг отверстий для крепления полок 25 мм. 
            aside.card__info.js-card-sticky
              .card__info-sticky
                .card__info-top
                  span.card__info-art Арт. 010101110
                  .card__info-buttons
                    button(type="button").card__info-tocompare
                    button(type="button").card__info-tofavorites
                    button(type="button").card__info-toprint.js-print
                    button(type="button").card__info-tocomment.js-card-tocomment
                p.card__info-existence В наличии
                form.card__info-form
                  .card__info-row
                    label.card__info-label Старая цена
                    .card__info-value 
                      p.card__info-cost.card__info-cost_old 13 805 руб.
                  .card__info-row
                    label.card__info-label Цена со скидкой
                    .card__info-value 
                      p.card__info-cost 13 395  
                        span руб.
                      span.card__info-cost-time до 31 сентября
                  .card__info-row.card__info-row_count
                    label.card__info-label Количество
                    .card__info-value 
                      .card__info-maxval
                        input(type="text", data-min="1", data-max="400", value="1").common__input.js-input-maxval
                        button(type="button").card__info-maxval-plus.js-input-maxval-plus
                        button(type="button").card__info-maxval-minus.js-input-maxval-minus
                  .card__info-row
                    label.card__info-label Доставка
                    .card__info-value 
                      p.card__info-delivery 500 руб. 
                        span Возможна до 22 января
                      label.card__info-msc.checked
                        input(type="checkbox", checked, name="")
                        | Включить доставку<br>по 
                        a(href="#").card__info-msc-town.js-town Москве
                  .card__info-bottom
                    .card__cost
                      p.card__cost-title Итого с доставкой
                      p.card__cost-value 95 876 
                        span руб.
                    .card__info-calc
                      a(href="#").card__info-calc-href Рассчитать свой стеллаж
                    button(type="submit", data-default="в корзину", data-added="в корзине").btn.card__elem-tocart
          
          ul.card__feats
            li.card__feats-elem
              p.card__feats-elem-text Скидка при самовывозе со склада
            li.card__feats-elem
              p.card__feats-elem-text Бесплатная доставка
                span при заказе от 4000 руб.
            li.card__feats-elem
              p.card__feats-elem-text Оптовые скидки до 20%
            li.card__feats-elem
              p.card__feats-elem-text 100% наличие на складе
            li.card__feats-elem
              p.card__feats-elem-text Оплата по факту отгрузки
          
          section.associated
            p.common__title Сопутствующие товары
            .associated__filter
              .associated__filter-ib По цене от
                input(type="text", value="1000").common__input.js-assoc-filter-min.js-digits
              .associated__filter-ib до
                input(type="text", value="236000").common__input.js-assoc-filter-max.js-digits
                span руб
              .associated__filter-ib.associated__filter-ib_another Нагрузка на полку от
                input(type="text", value="90").common__input.js-assoc-filter-load.js-digits
                span кг
            
            .recent
              include blocks/similar
          
          section.card__delivery
            p.card__delivery-title Стоимость и сроки доставки
            .card__delivery-text
              .common__row
                .common__col
                  p.h-card__title Доставка легких стеллажей по Москве (в пределах МКАД)
                  ul
                    li При суммарной стоимости заказа до 20 000 руб. - 
                      b 1500 руб.
                    li При суммарной стоимости заказа более 20 000 руб. - 
                      b 2000 руб. 
                .common__col
                  p.h-card__title По Московской области (в т.ч. Новая Москва)
                  p Стоимость складывается из стоимости доставки груза по Москве плюс 32 руб./км. за пределы МКАД.  
              .common__row
                .common__col
                  p.h-card__title Доставка по России
                  p БЕСПЛАТНО осуществляем доставку до транспортной компании «Деловые линии» в понедельник, среду и пятницу.<br> В остальные дни доставка до «Деловых линий» и до ДРУГИХ ТРАНСПОРТНЫХ КОМПАНИЙ по тарифам доставки по Москве
                .common__col
                  p.h-card__title Сроки доставки
                  ul
                    li Москва: в течение двух рабочих дней после заказа (при оплате курьеру) или после оплаты счета (при безналичном расчете).
                    li МО и Новая Москва:  сроки доставки рассчитываются индивидуально для каждого заказа, подробности вы можете узнать у менеджеров
              .common__row    
                .common__col
                  .h-card__alarm
                    p.h-card__alarm-title Обратите внимание!
                    p.h-card__alarm-text Доставка осуществляется только в рабочие дни с 9:00 до 18:00.<br>Мы осуществляем только доставку до подъезда. Работы по разгрузке транспорта и подъему груза производятся силами заказчика.
          
          section.associated.associated_similar
            p.common__title Похожие модели
            .associated__filter
              .associated__filter-ib По цене от
                input(type="text", value="1000").common__input.js-assoc-filter-min.js-digits
              .associated__filter-ib до
                input(type="text", value="236000").common__input.js-assoc-filter-max.js-digits
                span руб
              .associated__filter-ib.associated__filter-ib_another Нагрузка на полку от
                input(type="text", value="90").common__input.js-assoc-filter-load.js-digits
                span кг
            
            .recent
              include blocks/similar
          
          section.equipment
            span.equipment__bg(style="background-image: url('img/equipment-bg.jpg')")
            p.equipment__title Комплексное оснащение склада от компании ГТС
            .equipment__car-over
              .swiper-container.equipment__car.js-equipment
                .swiper-wrapper
                  .swiper-slide
                    .equipment__item
                      aside.equipment__iconover
                        img(src="img/equipment-icon1.png").equipment__icon
                      .equipment__content
                        a(href="#").equipment__href Бесплатный замер
                        p.equipment__text Квалифицированный специалист выезжает к Вам для замера помещения
                  .swiper-slide
                    .equipment__item
                      aside.equipment__iconover
                        img(src="img/equipment-icon2.png").equipment__icon
                      .equipment__content
                        a(href="#").equipment__href Проектирование
                        p.equipment__text Конструкторский отдел компании воплотит в чертежах любые задумки заказчика
                  .swiper-slide
                    .equipment__item
                      aside.equipment__iconover
                        img(src="img/equipment-icon3.png").equipment__icon
                      .equipment__content
                        a(href="#").equipment__href Сборка и монтаж
                        p.equipment__text Монтаж и шеф-монтаж стеллажного оборудования Максстор
                  .swiper-slide
                    .equipment__item
                      aside.equipment__iconover
                        img(src="img/equipment-icon2.png").equipment__icon
                      .equipment__content
                        a(href="#").equipment__href Проектирование
                        p.equipment__text Конструкторский отдел компании воплотит в чертежах любые задумки заказчика
              .swiper-buttons
                .swiper-button-prev
                .swiper-button-next
            button(type="button", data-fancybox, data-src="#projectfree").equipment__order.btn Заказать бесплатный проект
          
          section.calc
            p.calc__title Калькулятор стоимости
            p.calc__subtitle Соберите собственную стеллажную систему и рассчитайте ее стоимость
            button(type="button", data-default="Рассчитать", data-open="Свернуть").calc__open.js-calc-open.btn
          .calc-hidden.js-calc-hidden
            include blocks/calc
        
          section.others
            p.common__title Другие стеллажи
            include blocks/others
            
            .others__car-over
              .swiper-container.others__car.js-others
                .swiper-wrapper
                  -var othersArray = []
                  -othersArray.push({img: 'img/other1.jpg', cost: "от 3 395", href: "Со сплошными полками"})
                  -othersArray.push({img: 'img/other2.jpg', cost: "от 2 400", href: "С перфорированными полками"})
                  -othersArray.push({img: 'img/other3.jpg', cost: "от 1 400", href: "Оцинкованные"})
                  -othersArray.push({img: 'img/other4.jpg', cost: "от 1 356", href: "Из нержавеющей стали"})
                  -othersArray.push({img: 'img/other3.jpg', cost: "от 1 400", href: "Оцинкованные"})
                  for other in othersArray
                    .swiper-slide
                      +other(other)
              .swiper-buttons
                .swiper-button-prev.swiper-button-prev_dark
                .swiper-button-next.swiper-button-next_dark
          
          section.projects
            include blocks/project

            p.common__title Проекты, которые мы реализовали
            .projects__car-over
              .swiper-container.projects__car.js-iprojects
                .swiper-wrapper
                  -var projectsArray = []
                  -projectsArray.push({img: 'img/iproject1.jpg', cost: "от 2 600 руб за 1 полку", href: "Стеллажные системы «Каскад»", text: 'Склад «Мособлфармация», 2016'})
                  -projectsArray.push({img: 'img/iproject2.jpg', cost: "от 1 800 руб. за 1 паллетоместо", href: "Стеллажные системы «Турин»", text: 'Склад «Кант», 2016'})
                  -projectsArray.push({img: 'img/iproject3.jpg', cost: "от 2 600 руб./м<sup>2</sup>", href: "Системы хранения «Оптима»", text: "Магазин «Элекс-Нет», 2017"})
                  for project in projectsArray
                    .swiper-slide
                      +project(project)
              .swiper-buttons
                .swiper-button-prev.swiper-button-prev_dark
                .swiper-button-next.swiper-button-next_dark
            a(href="#").projects__toall Все выполненные проекты
              
          include blocks/recent
          
          include blocks/consult
            
          include blocks/text
    include layout/__footer