doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    main.content
      .container
        section.breadcrumbs
          a(href="#").breadcrumbs__href Главная
          span.breadcrumbs__delim /
          a(href="#").breadcrumbs__href О компании
          span.breadcrumbs__delim /
        .text.text_short
          h1 H1 — Заголовок в три строки, чтобы показать межстрочное расстояние
          p Компания «Горторгснаб» основана в 1995 году и за долгие годы работы прошла путь от небольшой фирмы, специализирующейся на торговле легким подъемно-транспортным оборудованием, до признанного лидера на рынке складской техники и 
            a(href="#") стеллажного оборудования
            |. Мы пережили практически без потерь 2 кризиса и постоянно совершенствуемся: увеличиваем ассортимент продукции, повышаем качество сервисных услуг, расширяем производство. При этом мы стараемся сохранить низкие цены на свою продукцию, для того, чтобы наши клиенты всегда получали самые выгодные предложения.
          p Наша компания гордится достигнутыми результатами. Мы всегда принимаем во внимание мнение наших клиентов и партнеров, предлагая неизменное качество и выгодные условия для плодотворного сотрудничества с дилерами.
          img(src="img/text.jpg")
          p(style="font-style:italic") Описание фотографии
          p Начиная с 2000 года одним из основных направлений деятельности компании «Горторгснаб» является производство и продажа стеллажей. В 2001 году начато производство легких стеллажей, чуть позже – полочных складских стеллажей малой и средней грузоподъемности, а также металлических шкафов. В 2004 году компанией было закуплено импортное оборудование и начато собственное производство разборных стеллажей для поддонов, а также полочных складских стеллажей, офисных стеллажей и недорогих металлических шкафов. На сегодняшний день компания «Горторгснаб» входит в пятерку крупнейших российских производителей стеллажных систем. Изготовление стеллажей осуществляется по самой современной технологии в соответствии с мировыми стандартами. Компания «Горторгснаб» внедрила в работу систему менеджмента качества на соответствие международным стандартам серии ISO 9001:2000. Наличие сертификата ISO 9001:2000 подтверждает качество выпускаемой продукции, производственных работ и услуг.
          h2 H2 — Заголовок в две строки, чтобы показать межстрочный интервал
          p Начиная с 2000 года одним из основных направлений деятельности компании «Горторгснаб» является производство и продажа стеллажей. В 2001 году начато производство легких стеллажей, чуть позже – полочных складских стеллажей малой и средней грузоподъемности, а также металлических шкафов. В 2004 году компанией было закуплено импортное оборудование и начато собственное производство разборных стеллажей для поддонов, а также полочных складских стеллажей, офисных стеллажей и недорогих металлических шкафов. На сегодняшний день компания «Горторгснаб» входит в пятерку крупнейших российских производителей стеллажных систем. Изготовление стеллажей осуществляется по самой современной технологии в соответствии с мировыми стандартами. Компания «Горторгснаб» внедрила в работу систему менеджмента качества на соответствие международным стандартам серии ISO 9001:2000. Наличие сертификата ISO 9001:2000 подтверждает качество выпускаемой продукции, производственных работ и услуг.
          p(style="font-size:18px; font-weight: 500;") Название нумерованного списка
          ol
            li Перфорация стальной ленты
            li Прокат
            li Приварка крепёжных элементов
            li Окраска и сушка
            li Упаковка и паллетирование
          p В настоящее время компания «Горторгснаб» предоставляет практически весь комплекс услуг по организации складских помещений (склад «под ключ»). Нашими партнерами являются ведущие мировые производители грузоподъемной и складской техники: «Pfaff Silberblau», «Ningbo Ruyi», «Е-Р Equipment», «Soosung», «JET» и др. Специалистами «Горторгснаб» осуществляется проектирование, изготовление и монтаж современных стеллажных систем, комплектация складов (в том числе и «готовых») техникой.
          p(style="font-size:18px; font-weight: 500;") Название нумерованного списка
          ul
            li Вырубка контура
            li Изготовление профиля полки (сгиб)
            li Приварка дополнительных элементов (центральных/боковых усилителей)
            li Окраска и сушка
            li Упаковка и паллетирование
          p Все оборудование, представленное в каталоге компании «Горторгснаб», обеспечивается гарантийным и послегарантийным сервисом. Также осуществляется поставка любой техники под заказ. В списке постоянных клиентов компании «Горторгснаб» более десяти тысяч компаний, среди которых - "Билайн", "Лукойл", "Ингосстрах", "7 континент", "МакДоналдс", "Балтика", "Мегафон-Москва" и др. Список наших клиентов постоянно расширяется, и мы будем рады видеть Вас в их числе.
          h3 H3 — Заголовок в три строки, чтобы показать межстрочный интервал. Изготовление стеллажей: этапы производственного процесса
          p Производство стеллажей – основное направление деятельности компании «Горторгснаб». В этой сфере мы работаем почти два десятилетия и за это время выполнили сотни проектов, заработав доверие и уважение со стороны своих клиентов. В настоящее время наши производственные цеха обеспечивают бесперебойное изготовление стеллажей всех распространённых модификаций: полочных моделей различной грузоподъёмности, паллетных фронтальных и набивных стеллажей, мезонинов. Мощности наших производственных линий позволяют не только оперативно изготавливать заказанные стеллажи, но и держать на складе запас готовой продукции популярных типоразмеров.
          p Вся продукция имеет сертификаты на соответствие международным стандартам качества ISO 9001:2000. Производственное предприятие расположено в Московской области, что позволяет обеспечить быструю доставку заказов по территории Центрального федерального округа. На территории площадью более 4 гектаров расположены четыре производственных корпуса и склады готовой продукции. Склады расположены также и рядом с московским офисом, благодаря чему мы можем доставить ваш заказ ещё быстрее! 
          p(style="font-size:18px; font-weight: 500;") Стеллажи металлические «Универсал» с перфорированными полками
          table
            thead
              tr
                th Наименование
                th Высота,<br>мм
                th Ширина,<br>мм
                th Глубина,<br>мм
                th Кол-во<br>полок
                th Нагрузка<br>на полку, кг
                th Серия
                th Полки
            tbody
              tr
                td Стеллаж перфорированный Лайт-234
                td 2000
                td 1000
                td 300
                td 4
                td 120
                td Лайт
                td перфорированные
              tr
                td Стеллаж перфорированный Лайт-234
                td 2000
                td 1000
                td 300
                td 4
                td 120
                td Лайт
                td перфорированные
              tr
                td Стеллаж перфорированный Лайт-234
                td 2000
                td 1000
                td 300
                td 4
                td 120
                td Лайт
                td перфорированные
              tr
                td Стеллаж перфорированный Лайт-234
                td 2000
                td 1000
                td 300
                td 4
                td 120
                td Лайт
                td перфорированные
              tr
                td Cтеллаж перфорированный Лайт-234
                td 2000
                td 1000
                td 300
                td 4
                td 120
                td Лайт
                td перфорированные
              tr
                td Стеллаж перфорированный Лайт-234
                td 2000
                td 1000
                td 300
                td 4
                td 120
                td Лайт
                td перфорированные
              tr
                td Стеллаж перфорированный Лайт-234
                td 2000
                td 1000
                td 300
                td 4
                td 120
                td Лайт
                td перфорированные
              tr
                td Стеллаж перфорированный Лайт-234
                td 2000
                td 1000
                td 300
                td 4
                td 120
                td Лайт
                td перфорированные
          p «Горторгснаб» осуществляет изготовление стеллажей самых различных типов. В основном мы производим паллетные и полочные стеллажи типовых конструкций: фронтальные и набивные стеллажи для хранения грузов на паллетах, полочные стеллажи малой (120-150 кг на полку), средней (300-350 кг на полку) и повышенной (до 900 кг на полку) грузоподъемности. Под заказ возможно изготовление стеллажей нестандартной конфигурации, например, многоуровневых стеллажных конструкций (мезонинов), которые могут включать в себя элементы как полочных, так и паллетных стеллажей.
    include layout/__footer