doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    main.content
      .container
        section.breadcrumbs
          a(href="#").breadcrumbs__href Главная
          span.breadcrumbs__delim /
          a(href="#").breadcrumbs__href О компании
          span.breadcrumbs__delim /
          a(href="#").breadcrumbs__href Новости
          span.breadcrumbs__delim /
        .text.text_short
          h1 Качество не обязательно должно быть слишком дорогим! Наше предложение тому подтверждение.
          p.news-inner__date 6 февраля 2018
          p 
            b ГТС «Складские системы»
            |  уже более 20 лет обеспечивает своих клиентов надежной техникой для любых нужд. Мы всегда стремимся дать нашим клиентам наиболее комфортные условия по самым низким ценам. Выражение "дешево и сердито" как нельзя лучше описывает наше новое предложение специально для вас!
          p 
            a(href="#") 
              b Рохля SB 2000 РDP SMART BASIC
            |  - это высокое качество по приятной цене всего 9 950 рублей!
          img(src="img/news-inner.jpg", alt="")
          p 
            b Гидравлическая тележка 
              a(href="#") SB 2000 РDP SMART BASIC 
            |  - самая популярная модель в линейке 
            b Smart Basic
            |. Она обладает всеми необходимыми характеристиками.
          p Тележка проста и удобна, а главное надежна, за счет чего и является по праву топовой моделью в данном сегменте. Стандартный размер вил 1150х550 мм и грузоподъемность 
            b 2 тонны 
            |  оптимальны для большинства самых важных задач, а колеса и 
            b ролики из полиуретана
            |  обеспечивают долгий срок службы.
          p Мы уверены в своей технике, поэтому 
            b даем гарантию 1 год
            |, но, как показывает практика, тележки 
            b SMART BASIC
            |  безукоризненно служат долгие годы!
          p
            b Поторопитесь приобрести действительно качественные тележки по самой выгодной цене!<br>По всем вопросам звоните: +7 (495) 788-99-34.
        a(href="#").common__back Вернуться к списку новостей
    include layout/__footer