doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    main.content.cling
      .container
        section.breadcrumbs
          a(href="#").breadcrumbs__href Главная
          span.breadcrumbs__delim /
        h1 Гидравлические теллежки
        section.stillage
          section.stillage__banner.js-stillage.js-model
            .stillage__banner-bottom
              p.stillage__banner-text Мы занимаемся продажей стеллажей более 20 лет и за это время досконально изучили своих клиентов и нюансы логистических российских складов. В сочетании с высокой квалификацией наших специалистов это дает возможность предложить каждому заказчику самый выгодный вариант проекта складских стеллажных систем с учетом особенностей помещения, специфики грузов и организации работы склада.
              p.stillage__banner-cost 
                span цена от 
                | 1 956 руб.
          
          section.stillage__types.stillage__types_equipment
            .stillage__type
              .stillage__type-list
                .stillage__type-item
                  span.stillage__type-bg
                    img(src="img/equipment1.jpg").stillage__type-img
                  .stillage__type-width
                    a(href="#").stillage__type-mainhref 
                      span Тележки
                  ul.stillage__type-hreflist
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Распродажа
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Гидравлические тележки
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Элекрические (самоходные) тележки
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Платформенные тележки
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Складные тележки
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Тележки с бортами
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Поворотные тележки
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Все товары
                .stillage__type-item
                  span.stillage__type-bg
                    img(src="img/equipment2.jpg").stillage__type-img
                  .stillage__type-width
                    a(href="#").stillage__type-mainhref 
                      span Штабелеры 
                  ul.stillage__type-hreflist
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Гидравлические штабелеры
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Штабелеры с электроподъемом
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Электроштабелеры самоходные
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Электрические штабелеры
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Сборщик заказов
                .stillage__type-item
                  span.stillage__type-bg
                    img(src="img/equipment3.jpg").stillage__type-img
                  .stillage__type-width
                    a(href="#").stillage__type-mainhref 
                      span Погрузчики  
                  ul.stillage__type-hreflist
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Складские минипогрузчики (оператор на подножке)
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Вилочные электрические погрузчики
                .stillage__type-item
                  span.stillage__type-bg
                    img(src="img/equipment4.jpg").stillage__type-img
                  .stillage__type-width
                    a(href="#").stillage__type-mainhref 
                      span Ричтраки 
                  p.stillage__type-text Высокопроизводительные машины для крупных складов с высотными складскими системами. Ричтраки позволяют производить погрузочно- разгрузочные операции на высоте до 9,5 метров!
                .stillage__type-item
                  span.stillage__type-bg
                    img(src="img/equipment5.jpg").stillage__type-img
                  .stillage__type-width
                    a(href="#").stillage__type-mainhref 
                      span Шкафы на колесах 
                  p.stillage__type-text Сетчатые шкафы для складского и хозяйственного хранения. Оснащаются двумя открываемыми дверками и колесами. Дополнительно возможна установка трех полок.
                .stillage__type-item
                  span.stillage__type-bg
                    img(src="img/equipment6.jpg").stillage__type-img
                  .stillage__type-width
                    a(href="#").stillage__type-mainhref 
                      span Контейнеры на колесах 
                  p.stillage__type-text Металлические контейнеры сетчатые идеально подходят для хранения и транспортировки всевозможных грузов. Контейнеры применяются на складах, в торговых залах, на промышленных и производственных предприятиях.
                .stillage__type-item
                  span.stillage__type-bg
                    img(src="img/equipment7.jpg").stillage__type-img
                  .stillage__type-width
                    a(href="#").stillage__type-mainhref 
                      span Колеса  
                  ul.stillage__type-hreflist
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Колеса и колесные опоры для тележек
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Колеса большегрузные (грузовые) для тележек
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Колеса промышленные
                .stillage__type-item
                  span.stillage__type-bg
                    img(src="img/equipment8.jpg").stillage__type-img
                  .stillage__type-width
                    a(href="#").stillage__type-mainhref 
                      span Колесные опоры   
                  ul.stillage__type-hreflist
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Колесные опоры промышленные
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Колесные опоры аппаратные
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Колесные опоры пневматические
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Опоры колесные большегрузные
                .stillage__type-item
                  span.stillage__type-bg
                    img(src="img/equipment9.jpg").stillage__type-img
                  .stillage__type-width
                    a(href="#").stillage__type-mainhref 
                      span Ролики 
                  ul.stillage__type-hreflist
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Колеса и ролики для гидравлических тележек
                    li.stillage__type-hrefitem
                      a(href="#").stillage__type-href Специальные колеса и ролики для тележек
          
          section.model
            form.model__filter
              .model__filter-row
                p.model__filter-title Подбор моделей по параметрам
                .model__filter-rangecol
                  p.subcat__filter-subtitle Грузоподъемность 
                    span (тонны)
                  .subcat__filter-inpwide
                    .subcat__filter-inpleft
                      | от 
                      input(type="text", value="500").common__input.js-model-rangeMin
                      |  руб.
                    .subcat__filter-inpright
                      | до 
                      input(type="text", value="3000").common__input.js-model-rangeMax
                      |  руб.
                  .subcat__filter-rangeover
                    input(type="text", value="", data-type="double", data-min="0", data-max="10000", data-from="500", data-to="3000").js-model-range
                .model__filter-rangecol
                  p.subcat__filter-subtitle Стоимость
                  .subcat__filter-inpwide
                    .subcat__filter-inpleft
                      | от 
                      input(type="text", value="1610").common__input.js-model-rangeMin
                      |  руб.
                    .subcat__filter-inpright
                      | до 
                      input(type="text", value="300000").common__input.js-model-rangeMax
                      |  руб.
                  .subcat__filter-rangeover
                    input(type="text", value="", data-type="double", data-min="0", data-max="1000000", data-from="1610", data-to="300000").js-model-range
              .model__filter-row.model__filter-row_labelside
                p.model__filter-label Тип изделия
                .model__filter-inpcol
                  label.subcat__filter-input.checked.js-model-check Тип изделия
                    input(type="checkbox", value="1", checked)
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Тип изделия
                    input(type="checkbox", value="1")
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Тип изделия
                    input(type="checkbox", value="1")
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Тип изделия
                    input(type="checkbox", value="1")
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Тип изделия
                    input(type="checkbox", value="1")
              .model__filter-row.model__filter-row_labelside
                p.model__filter-label Подтип изделия
                .model__filter-inpcol
                  label.subcat__filter-input.checked.js-model-check Подтип изделия
                    input(type="checkbox", value="1", checked)
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Подтип изделия
                    input(type="checkbox", value="1")
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Подтип изделия
                    input(type="checkbox", value="1")
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Подтип изделия
                    input(type="checkbox", value="1")
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Подтип изделия
                    input(type="checkbox", value="1")
                .model__filter-inpcol
                  label.subcat__filter-input.checked.js-model-check Подтип изделия
                    input(type="checkbox", value="1", checked)
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Подтип изделия
                    input(type="checkbox", value="1")
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Подтип изделия
                    input(type="checkbox", value="1")
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Подтип изделия
                    input(type="checkbox", value="1")
                .model__filter-inpcol
                  label.subcat__filter-input.js-model-check Подтип изделия
                    input(type="checkbox", value="1")
              .model__filter-row.model__filter-row_labelside
                p.model__filter-label Назначение
                .model__filter-inpcol
                  label.subcat__filter-input.checked.js-model-check Для дома
                    input(type="checkbox", value="1", checked)
                .model__filter-inpcol
                  label.subcat__filter-input.checked.js-model-check Для дачи и гаража
                    input(type="checkbox", value="1", checked)
                .model__filter-inpcol
                  label.subcat__filter-input.checked.js-model-check Для офиса
                    input(type="checkbox", value="1", checked)
                .model__filter-inpcol
                  label.subcat__filter-input.checked.js-model-check Для производственного помещения
                    input(type="checkbox", value="1", checked)
                .model__filter-inpcol
                  label.subcat__filter-input.checked.js-model-check Для склада
                    input(type="checkbox", value="1", checked)
              .model__filter-hidden.js-model-hidden
                .model__filter-row.model__filter-row_labelside
                  p.model__filter-label Тип изделия
                  .model__filter-inpcol
                    label.subcat__filter-input.checked.js-model-check Тип изделия
                      input(type="checkbox", value="1", checked)
                  .model__filter-inpcol
                    label.subcat__filter-input.js-model-check Тип изделия
                      input(type="checkbox", value="1")
                  .model__filter-inpcol
                    label.subcat__filter-input.js-model-check Тип изделия
                      input(type="checkbox", value="1")
                  .model__filter-inpcol
                    label.subcat__filter-input.js-model-check Тип изделия
                      input(type="checkbox", value="1")
                  .model__filter-inpcol
                    label.subcat__filter-input.js-model-check Тип изделия
                      input(type="checkbox", value="1")
                .model__filter-row.model__filter-row_labelside
                  p.model__filter-label Тип изделия
                  .model__filter-inpcol
                    label.subcat__filter-input.checked.js-model-check Тип изделия
                      input(type="checkbox", value="1", checked)
                  .model__filter-inpcol
                    label.subcat__filter-input.js-model-check Тип изделия
                      input(type="checkbox", value="1")
                  .model__filter-inpcol
                    label.subcat__filter-input.js-model-check Тип изделия
                      input(type="checkbox", value="1")
                  .model__filter-inpcol
                    label.subcat__filter-input.js-model-check Тип изделия
                      input(type="checkbox", value="1")
                  .model__filter-inpcol
                    label.subcat__filter-input.js-model-check Тип изделия
                      input(type="checkbox", value="1")
              .model__filter-resrow
                button(type="button", data-default="Показать дополнительные параметры", data-open="Скрыть дополнительные параметры").model__filter-open.js-model-open
                span.model__filter-rescount Найдено 118 моделей
                input(type="submit", value="Показать").btn.model__filter-show
                button(type="button").model__filter-cancel.js-model-cancel Сбросить

            section.model__res
              section.filter
                .model__res-types
                  span(data-type="list").model__res-type.active
                  a(href="#", data-type="grid").model__res-type
                p.model__res-title Тележки гидравлические
                  span 118 моделей
                .filter__main
                  .filter__sort.filter__sort_long Сортировать:
                    select(name="").js-select
                      option(val="0", selected) По цене (по убыванию)
                      option(val="10") По цене (по возрастанию)
                      option(val="20") По дате добавления
                  .filter__show Отображать:
                    select(name="").js-select
                      option(val="0", selected) по 10
                      option(val="10") по 10
                      option(val="20") по 20
                      option(val="20") Все
                  .filter__show 
                    label.subcat__filter-input.js-model-check Хиты
                      input(type="checkbox", value="1")
                  .filter__show 
                    label.subcat__filter-input.js-model-check Акции
                      input(type="checkbox", value="1")
              section.model__res-list
                include blocks/card-elem_list

                -var cardArray = []
                -cardArray.push({img: 'img/card1.jpg', name: "Стеллаж сборный (разборный) ТСУ 1-150", params: [{title: 'Высота', value: '2000 мм'},{title: 'Ширина', value: '2000 мм'},{title: 'Глубина', value: '300 мм'},{title: 'Вес', value: '120 кг'}], cost: '4 428', prevcost: '20 008', modified: 'new', 'inadd': 1})
                -cardArray.push({img: 'img/card2.jpg', name: "Большегрузная тележка БТ 3", params: [{title: 'Грузоподъемность', value: '400 кг'},{title: 'Высота подъема вил', value: '1550 мм'},{title: 'Минимальная высота бочки', value: '879 мм'},{title: 'Максимальная высота бочки', value: '890 мм'}], cost: '56 334', modified: 'actions', 'inadd': 1})
                -cardArray.push({img: 'img/card3.jpg', name: "Штабелер с электроподъемом CDD 15B", params: [{title: 'Грузоподъемность', value: '1500 кг'},{title: ' Г/п на макс. высоте', value: '1550 мм'},{title: 'Высота подъема вил', value: '879 мм'},{title: 'Собственый вес', value: '500 кг'}], cost: '56 334', modified: 'hit', 'inadd': 1})
                -cardArray.push({img: 'img/card1.jpg', name: "Стеллаж сборный (разборный) ТСУ 1-150", params: [{title: 'Высота', value: '2000 мм'},{title: 'Ширина', value: '2000 мм'},{title: 'Глубина', value: '300 мм'},{title: 'Вес', value: '120 кг'}], cost: '4 428', prevcost: '20 008', modified: 'new', 'inadd': 1})
                -cardArray.push({img: 'img/card2.jpg', name: "Большегрузная тележка БТ 3", params: [{title: 'Грузоподъемность', value: '400 кг'},{title: 'Высота подъема вил', value: '1550 мм'},{title: 'Минимальная высота бочки', value: '879 мм'},{title: 'Максимальная высота бочки', value: '890 мм'}], cost: '56 334', modified: 'actions', 'inadd': 1})
                -cardArray.push({img: 'img/card3.jpg', name: "Штабелер с электроподъемом CDD 15B", params: [{title: 'Грузоподъемность', value: '1500 кг'},{title: ' Г/п на макс. высоте', value: '1550 мм'},{title: 'Высота подъема вил', value: '879 мм'},{title: 'Собственый вес', value: '500 кг'}], cost: '56 334', modified: 'hit', 'inadd': 1})
                ul.card__list.card__list_line
                  for card in cardArray
                    +cardElem(card)
                .model__res-more
                  a(href="#", data-default="Показать еще", data-open="Скрыть").model__res-href 
            // grid variants
            section.model__res
              section.filter
                .model__res-types
                  a(href="#", data-type="list").model__res-type
                  span(data-type="grid").model__res-type.active
                p.model__res-title Тележки гидравлические
                  span 118 моделей
                .filter__main
                  .filter__sort.filter__sort_long Сортировать:
                    select(name="").js-select
                      option(val="0", selected) По цене (по убыванию)
                      option(val="10") По цене (по возрастанию)
                      option(val="20") По дате добавления
                  .filter__show Отображать:
                    select(name="").js-select
                      option(val="0", selected) по 10
                      option(val="10") по 10
                      option(val="20") по 20
                      option(val="20") Все
                  .filter__show 
                    label.subcat__filter-input.js-model-check Хиты
                      input(type="checkbox", value="1")
                  .filter__show 
                    label.subcat__filter-input.js-model-check Акции
                      input(type="checkbox", value="1")
              section.model__res-list
                include blocks/card-elem

                -var cardArray = []
                -cardArray.push({img: 'img/card1.jpg', name: "Стеллаж сборный (разборный) ТСУ 1-150", params: [{title: 'Высота', value: '2000 мм'},{title: 'Ширина', value: '2000 мм'},{title: 'Глубина', value: '300 мм'},{title: 'Вес', value: '120 кг'}], cost: '4 428', prevcost: '20 008', modified: 'new', 'inadd': 1})
                -cardArray.push({img: 'img/card2.jpg', name: "Большегрузная тележка БТ 3", params: [{title: 'Грузоподъемность', value: '400 кг'},{title: 'Высота подъема вил', value: '1550 мм'},{title: 'Минимальная высота бочки', value: '879 мм'},{title: 'Максимальная высота бочки', value: '890 мм'}], cost: '56 334', modified: 'actions', 'inadd': 1})
                -cardArray.push({img: 'img/card3.jpg', name: "Штабелер с электроподъемом CDD 15B", params: [{title: 'Грузоподъемность', value: '1500 кг'},{title: ' Г/п на макс. высоте', value: '1550 мм'},{title: 'Высота подъема вил', value: '879 мм'},{title: 'Собственый вес', value: '500 кг'}], cost: '56 334', modified: 'hit', 'inadd': 1})
                -cardArray.push({img: 'img/card1.jpg', name: "Стеллаж сборный (разборный) ТСУ 1-150", params: [{title: 'Высота', value: '2000 мм'},{title: 'Ширина', value: '2000 мм'},{title: 'Глубина', value: '300 мм'},{title: 'Вес', value: '120 кг'}], cost: '4 428', prevcost: '20 008', modified: 'new', 'inadd': 1})
                -cardArray.push({img: 'img/card2.jpg', name: "Большегрузная тележка БТ 3", params: [{title: 'Грузоподъемность', value: '400 кг'},{title: 'Высота подъема вил', value: '1550 мм'},{title: 'Минимальная высота бочки', value: '879 мм'},{title: 'Максимальная высота бочки', value: '890 мм'}], cost: '56 334', modified: 'actions', 'inadd': 1})
                -cardArray.push({img: 'img/card3.jpg', name: "Штабелер с электроподъемом CDD 15B", params: [{title: 'Грузоподъемность', value: '1500 кг'},{title: ' Г/п на макс. высоте', value: '1550 мм'},{title: 'Высота подъема вил', value: '879 мм'},{title: 'Собственый вес', value: '500 кг'}], cost: '56 334', modified: 'hit', 'inadd': 1})
                ul.card__list
                  for card in cardArray
                    +cardElem(card)
                .model__res-more
                  a(href="#", data-default="Показать еще", data-open="Скрыть").model__res-href 
            
          section.calc.calc_small
            p.pbsl__title Рассчитайте вашу выгоду
            button(type="button", data-default="Рассчитать", data-open="Свернуть").calc__open.js-calc-open.btn
          .calc-hidden.js-calc-hidden
            include blocks/calc
          
          section.quiz
            img(src="img/quiz2.jpg").quiz__img
          
          include blocks/recent
          
          section.complex
            .complex__top
              p.common__title Комплексные поставки
              p.complex__subtitle В наличии более 30 00 товаров с доставкой по россии и СНГ
            .complex__features
              .complex__feature
                img(src="img/complex-icon1.png").complex__feature-icon
                .complex__feature-content
                  p.complex__feature-title Экономия времени
                  p.complex__feature-text Не нужно искать несколько поставщиков
              .complex__feature
                img(src="img/complex-icon2.png").complex__feature-icon
                .complex__feature-content
                  p.complex__feature-title Доставка дешевле
                  p.complex__feature-text Все необходимое в одной поставке
              .complex__feature
                img(src="img/complex-icon3.png").complex__feature-icon
                .complex__feature-content
                  p.complex__feature-title Скидки на технику
                  p.complex__feature-text При покупке стеллажных систем
            .complex__calc
              .complex__calc-item
                .complex__calc-titleover
                  a(href="#").complex__calc-title.js-complex-title-shave Штабелеры
                .complex__calc-imgover
                  img(src="img/complex-img1.jpg").complex__calc-img
                .complex__calc-bottom
                  p.complex__calc-cost от 3700 
                    span руб.
                  label(data-value="Штабелеры", data-default="Выбрать", data-checked="Выбрано").complex__calc-checkbox.js-complex-check
                    input(type="checkbox", value="1").comlex__calc-checktrue
              .complex__calc-item
                .complex__calc-titleover
                  a(href="#").complex__calc-title.js-complex-title-shave Гидравлические тележки
                .complex__calc-imgover
                  img(src="img/complex-img2.jpg").complex__calc-img
                .complex__calc-bottom
                  p.complex__calc-cost от 2300 
                    span руб.
                  label(data-value="Гидравлические тележки", data-default="Выбрать", data-checked="Выбрано").complex__calc-checkbox.js-complex-check
                    input(type="checkbox", value="1").comlex__calc-checktrue
              .complex__calc-item
                .complex__calc-titleover
                  a(href="#").complex__calc-title.js-complex-title-shave Палетные стелажи
                .complex__calc-imgover
                  img(src="img/complex-img3.jpg").complex__calc-img
                .complex__calc-bottom
                  p.complex__calc-cost от 1200 
                    span руб.
                  label(data-value="Палетные стелажи", data-default="Выбрать", data-checked="Выбрано").complex__calc-checkbox.js-complex-check
                    input(type="checkbox", value="1").comlex__calc-checktrue
              .complex__calc-item.complex__calc-item_last
                p.complex__calc-full Полный ассортимент стеллажей и складской техники
                p.complex__calc-benefit с выгодой до
                  span 40%
                p.complex__calc-discount скидки
            .complex-bottom
              button(type="button", data-fancybox, data-src="#projectfree").complex__href.btn Заказать бесплатный проект склада
          
          section.favorites__banner(style="background-image: url(img/favbanner1.jpg)")
            p.favorites__banner-text Вся продукция сертифицирована, соответствует ГОСТу и ТУ. 
              span Мы гарантируем 
              | лучшую цену.
          
          section.projects
            include blocks/project

            p.common__title Проекты, которые мы реализовали
            .projects__car-over
              .swiper-container.projects__car.js-iprojects
                .swiper-wrapper
                  -var projectsArray = []
                  -projectsArray.push({img: 'img/iproject1.jpg', cost: "от 2 600 руб за 1 полку", href: "Стеллажные системы «Каскад»", text: 'Склад «Мособлфармация», 2016'})
                  -projectsArray.push({img: 'img/iproject2.jpg', cost: "от 1 800 руб. за 1 паллетоместо", href: "Стеллажные системы «Турин»", text: 'Склад «Кант», 2016'})
                  -projectsArray.push({img: 'img/iproject3.jpg', cost: "от 2 600 руб./м<sup>2</sup>", href: "Системы хранения «Оптима»", text: "Магазин «Элекс-Нет», 2017"})
                  for project in projectsArray
                    .swiper-slide
                      +project(project)
              .swiper-buttons
                .swiper-button-prev.swiper-button-prev_dark
                .swiper-button-next.swiper-button-next_dark
            a(href="#").projects__toall Все выполненные проекты
           
          include blocks/consult
            
          section.intresting
            p.common__title Это интересно
            include blocks/news-elem
            
            -var newsArray = []
            -newsArray.push({img: 'img/inews1.jpg', date: "12 апреля 2018", href: "Доллар растет, а мы снижаем цены!", text: 'Хотим порадовать отличной новостью! Мы снизили цены на ряд самоходных штабелеров SMART и SMART PREMIUM!'})
            -newsArray.push({img: 'img/inews2.jpg', date: "6 февраля 2018", href: "Качество не обязательно должно быть слишком дорогим! Наше предложение тому подтверждение!", text: 'ГТС "Складские системы" уже более 20 лет обеспечивает своих клиентов надежной техникой для любых нужд. Мы всегда стремимся дать нашим клиентам наиболее комфортные условия по самым низким ценам.'})
            -newsArray.push({img: 'img/inews3.jpg', date: "15 ноября 2017", href: "На гидравлические штабелеры с электроподъемом SMART!", text: "Для тех кто ищет максимальную выгоду, мы снизили цены на популярные модели штабелеров с электроподъемом SMART BDA!"})
            -newsArray.push({img: 'img/iproject2.jpg', date: "12 апреля 2018", href: "Популярнейший стеллаж Профи-Т теперь и с металлическим настилом! ", text: 'Стеллажи серии Профи-Т - это качество, проверенное временем! Тысячи наших довольных клиентов тому подтверждение.'})
            ul.intresting__list
              for news in newsArray
                +newsElem(news)
            a(href="#").intresting__toall Все статьи
            
          include blocks/text
          
      .contact(style="background-image: url('img/equipment-bg.jpg')")
        .container
          form(data-scroll="reviews__form").contact__form
            aside.contact__text Свяжитесь с нами прямо сейчас и получите 
              span бесплатный проект склада
            .contact__main
              .common__row
                .common__col
                  .common__row
                    input(type="text", data-req="req").common__input
                    label.common__placeholder Ваше имя
                      span *
                  .common__row
                    input(type="text", data-req="req").common__input.js-phone
                    label.common__placeholder Ваш номер телефона
                      span *
                .common__col
                  .common__row
                    textarea.common__textarea
                    label.common__placeholder Интересующий вопрос
              .contact__bottom
                .fakecheckbox
                  input(type="checkbox", value="", name="agreement", checked)#agreement1.fakecheckbox__truecheck
                  label(for="agreement1").fakecheckbox__label Я даю согласие на 
                    a(href="#") обработку персональных данных
                input(type="submit", value="Заказать бесплатный проект").btn.common__sbm
    include layout/__footer