.comparison
  &__list
    pos relative
    ml -30px
    mt -16px
    mb 23px
    w calc(100% + 30px)
    padding 26px 0 11px
    @media $tPortraitMax
      mt 0
    &:before
      content ""
      background-color whitesmoke
      pos absolute
      z-index -1
      w 110vw
      h 100%
      t 0
      left 50%
      transform translateX(-50%)
  &__item
    ib()
    ml 29px
    mb 15px
    @media $mPortraitMax
      db()
    &.active + &
      ml 11px
      @media $mPortraitMax
        ml 29px
    &-href
      pos relative
      color $dark
      fontify 14px 500 18px
      border-bottom 2px solid $orange
      transition .5s border
      ^[-1].active &,
      &:hover
        border-color transparent
      ^[-1].active &
        color white
        padding 0 15px
        &:before
          content ""
          background-color $orange
          border-radius 15px
          pos absolute
          z-index -1
          l 0
          t -5px
          h calc(100% + 10px)
          w 100%
  &__elem
    pos relative
    &-icons
      t 22px
      r 23px
      pos absolute
      z-index 1
      opacity 0
      transition .5s opacity
      ^[-1]:hover &
        opacity 1
    &-tofavorites
      db()
      border 0
      cursor pointer
      size 18px
      outline none
      background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAw1BMVEW0tLT///+0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLT////ZWBNNAAAAP3RSTlMAAAUxim6D616VsDUgKEFdtek/7oJOOuxGxJbhTR+ktCcVwLwrm1f1OPdkhCpt5Ge5dI0kOczCbP1vR2MiegGoWiFiAAAAAWJLR0QB/wIt3gAAAAlwSFlzAAALEgAACxIB0t1+/AAAAKZJREFUGNNlztcSwiAQBdBFEzWaWGM3tth773r//69cBDKj8sAuZ9hCpE8srqIQRsjCHwH2DyUA/BCSKThflEaGS11FXjaX56ICUZFDyS9XyOEEVUt+rdVlzi0baEZjqQUEHNroGOkCvU/7PkIlHjDQE/VKNMTILDHW5GNiCFOi2dylBZYRrdZy+maLnaa9fNuHI98nTWdcrjIGIc9RdLubvR7PlxBv6T4WgxLqvT8AAAAASUVORK5CYII=") no-repeat center
      transition .5s background
      &.added,
      &:hover 
        background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAw1BMVEXnbxf////nbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxf////LrmGBAAAAP3RSTlMAAAUxim6D616VsDUgKEFdtek/7oJOOuxGxJbhTR+ktCcVwLwrm1f1OPdkhCpt5Ge5dI0kOczCbP1vR2MiegGoWiFiAAAAAWJLR0QB/wIt3gAAAAlwSFlzAAALEgAACxIB0t1+/AAAAKZJREFUGNNlztcSwiAQBdBFEzWaWGM3tth773r//69cBDKj8sAuZ9hCpE8srqIQRsjCHwH2DyUA/BCSKThflEaGS11FXjaX56ICUZFDyS9XyOEEVUt+rdVlzi0baEZjqQUEHNroGOkCvU/7PkIlHjDQE/VKNMTILDHW5GNiCFOi2dylBZYRrdZy+maLnaa9fNuHI98nTWdcrjIGIc9RdLubvR7PlxBv6T4WgxLqvT8AAAAASUVORK5CYII=") no-repeat center
    &-todelete
      db()
      border 0
      cursor pointer
      size 15px 16px
      ml 2px
      outline none
      mt 15px
      background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAMAAAD+iNU2AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAARVBMVEX///8LCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwv////eUdJ/AAAAFnRSTlMAAE1KBEINQTkVODAeJyYfLxYOQAVJdhPDlwAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABvSURBVAjXZc/ZDsMwCERRuM7SbM3+/7/acUxSVR1ZyOcBBGbmTombZX2thO/ixm/+7InKSyqS+muacEMrv+jyLL2OXh4YwyODPDGF3/qZzyzhhVle1VXcs8obe8zf2eSDM3xy5P3Ts1y67mkf1+4fNPIC+/0aIGwAAAAASUVORK5CYII=") no-repeat center
      transition .5s background
      &:first-child
        mt 0
      &.added,
      &:hover 
        background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAMAAAD+iNU2AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAVFBMVEX////nbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxfnbxf///+pDkzLAAAAGnRSTlMA9Q702SrXvEa7nmNigoB/Zp2bSrku1RLxEKzqC9MAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAa0lEQVQI12XOSRLCMAxEUTlkhhBnDv/+B6UJsjfpRbueXVLZTOEfS7k7VX5LudkChY8VPNQllbuiVje0ds1ZSyf3PN0venng7R4Z5MjknonywupeWeSN3ffvbOqD033y+R0hfy5c13V2afYFQbAMghSf9vAAAAAASUVORK5CYII=") no-repeat center
    &-imgover
      w 100%
      //pt 67%
      h 205px
      display flex
      justify-content center
      align-content center
      pos relative
      border 2px solid #ececec
      mb 22px
    &-img
      imgCenteringMax()
    &-hrefover
      height 50px
      overflow hidden
    &-href
      color $dark
      fontify 16px 500 24px
      border-bottom 2px solid $orange
      transition .5s border
      &:hover
        border-color transparent
    &-info
      mt 24px
      w calc(100% + 30px)
      &-title
        color $dark
        fontify 20px 500 28px
        mb 13px
        opacity 0
        pointer-events none
        transition .5s opacity
    &-params
      &-row
        border-top 1px solid #ececec
        pt 17px
        pb 15px
        &:last-child
          border-bottom 1px solid #ececec
        &.hidden
          dn()
      &-title
        color alpha($dark, .5)
        fontify 12px 500 15px
        text-transform uppercase
        letter-spacing .04em
        mb 5px
        opacity 0
        pointer-events none
        transition .5s opacity
      &-val
        color $dark
        fontify 14px 400 22px
    &-tocart
      pos relative
      pl 58px
      pr 28px
      font-family FiraSans
      mt 40px
      &:before
        content attr(data-default)
      &:after
        content ""
        size 17px
        pos absolute
        l 31px
        t 16px
        background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAY1BMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+Dm4mgAAAAIHRSTlMABQMtp2MIcpn4sTvPtAr7onDO5iuYLOVcGQQHhfP59NrxV7QAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAcUlEQVQY03WOWQ6AIBQDn/su7itq739KQRA0xvlow1ASiIgcegGB+zHee0Q+AnsIZUSI1VSSpMJkyK1BIUzJWHk/qlDLapDdpkUnq0ekxYDx6gC+NjUqfWOZLuM+zKzGi/ngSn/wjZtU7NhM6s3BTdIJRbsLGn5lSswAAAAASUVORK5CYII=") no-repeat center
        @media $tPortraitMax
          l 16px
          t 11px
      &.added
        background $dark
        &:before
          content attr(data-added)
      @media $tPortraitMax
        pl 41px
        pr 17px
      @media $mPortraitMedium
        mt 15px
  &__car
    &over
      pos relative
      .swiper-slide-active
        & ^[0]__elem
          &-info-title,
          &-params-title
            opacity 1
            pointer-events auto
      .swiper-button-prev
        l -73px
        t 80px
        mt 0
        outline none
        @media $lDesktopMax
          l -55px
        @media $desktopMax
          t 92px
        @media $tLandscapeMax
          t 0
          l 0
      .swiper-button-next
        r -73px
        t 80px
        mt 0
        outline none
        @media $lDesktopMax
          r -55px
        @media $desktopMax
          t 92px
        @media $tLandscapeMax
          t 0
          r auto
          l 66px
      .swiper-buttons
        @media $tLandscapeMax
          pos relative
          margin 0 auto
          z-index 10
          w 110px
          h 44px
          mt 30px

.js-comparison-fixer
  &.fixed
    pos absolute
    w 100%
    bgc white
    transition .1s top