.i-equipment
  background-color whitesmoke
  padding 66px 0 74px
  &__list
    display flex
    flex-wrap nowrap
    justify-content space-between
    counter-reset equipCounter
    mt 50px
    mb 59px
    @media $mLandscape
      flex-wrap wrap
      flex-direction column
  &__item
    w calc(100% / 3 - 64px)
    pl 82px
    @media $tLandscapeMax
      pl 42px
      w calc(100% / 3 - 40px)
    @media $tPortraitMax
      pl 0
    @media $mLandscape
      pl 82px
      w 100%
      & + &
        mt 70px
    @media $mPortraitMax
      pl 0
      & + &
        mt 30px
    position relative
    z-index 1
    &:before
      counter-increment equipCounter
      content counter(equipCounter)
      text-shadow 0 8px 54px rgba(1, 10, 26, 0.52)
      color white
      opacity .2
      font-family FiraSans
      fontify 250px 900 30px
      pos absolute
      z-index -1
      l 0
      t 60px
      @media $tPortraitMax
        l -40px
      @media $mLandscape
        l 0
        t 30px
        fontify 200px 900 30px
      @media $mPortraitMax
        dn()
  &__title
    color $dark
    fontify 20px 500 30px
  &__text
    color alpha(#0e0e0e, .6)
    fontify 14px 400 22px
    mt 11px
  &__ordertext
    ib()
    color black
    fontify 14px 400 22px
    max-width 650px
    @media $tLandscapeMax
      max-width 613px
    @media $tPortraitMax
      max-width none
  &__button
    ib()
    ml 26px
    mt 10px
    @media $tPortraitMax
      mt 30px
      ml 0

.equipment
  pos relative
  z-index 1
  pb 90px
  pt 72px
  text-align center
  &__car-over
    pos relative
  &__bg
    pos absolute
    z-index -1
    t 0
    l 50%
    h 100%
    w calc(100vw + 20px)
    transform translateX(-50%)
  &__title
    color white
    fontify 44px 400 48px
    mb 80px
    @media $tLandscapeMax
      fontify 38px 400 44px
    @media $mLandscapeMax
      fontify 26px 400 32px
  &__item
    display flex
  &__iconover
    w 150px
    @media $mPortraitMax
      dn()
  &__icon
    max-width 100%
  &__content
    w calc(100% - 150px)
    text-align left
    @media $mPortraitMax
      w 100%
  &__href
    color white
    font-size 20px
    font-weight 400
    line-height 22px
    border-bottom 2px solid $orange
    transition .5s border
    &:hover
      border-color transparent
  &__text
    color white
    fontify 14px 400 22px
    mt 20px
  &__order
    mt 56px
    @media $mPortraitMax
      font-size 12px
      padding 0 20px
  .swiper-button-prev
    l -73px
    outline none
    @media $lDesktopMax
      l -55px
    @media $desktopMax
      t 92px
    @media $tLandscapeMax
      t 0
      l 0
  .swiper-button-next
    r -73px
    outline none
    @media $lDesktopMax
      r -55px
    @media $desktopMax
      t 92px
    @media $tLandscapeMax
      t 0
      r auto
      l 66px
  .swiper-buttons
    @media $tLandscapeMax
      pos relative
      margin 0 auto
      z-index 10
      w 110px
      h 44px
      mt 30px