.i-banner
  .container
    display flex
    h 540px
    align-items center
    @media $tLandscapeMax
      h 440px 
  &__inner
    max-width 900px
    pb 60px
    @media $tLandscapeMax
      max-width 100%
  &__title
    color white
    fontify 60px 400 64px
    @media $desktopMax
      fontify 48px 400 58px
    @media $tLandscapeMax
      fontify 40px 400 44px
    @media $mLandscape
      fontify 32px 400 36px
  &__more
    mt 30px
    @media $tPortraitMax
      mt 20px
  .swiper-button-prev
    l 52px
    outline none
    @media $lDesktopMax
      l 0
    @media $tLandscapeMax
      mt -22px
  .swiper-button-next
    r 52px
    outline none
    @media $lDesktopMax
      r auto
      l 66px
    @media $tLandscapeMax
      mt -22px
  .swiper-buttons
    @media $lDesktopMax
      max-width 1330px
      z-index 10
      l 50%
      w 100%
      pos absolute
      h 0px
      b 90px
      transform translateX(-50%)
    @media $desktopMax
      max-width 1120px
    @media $tLandscapeMax
      max-width 940px
    @media $tPortraitMax
      max-width 700px
    @media $mLandscape
      max-width 100%
      l 30px
      r 30px
      transform none
