@media $print
  .favorites__banner,
  .favorites__economy,
  .recent,
  .footer,
  .search__open,
  .burger,
  .favorites__optionals,
  .filter
    dn()
    
  .header
    box-shadow none
    pos static
    &-bottom
      h 94px
    &__contacts
      db()