@media $print
  .favorites__banner,
  .favorites__economy,
  .recent,
  .footer,
  .search__open,
  .burger,
  .favorites__optionals,
  .services__hreflist,
  .services__page .text,
  .h-servover,
  .services__variants-table tr:not(.choosed),
  .services__device,
  .services__cost-tocart,
  .services__cost-hrefrow,
  .filter,
  .card__feats,
  .associated,
  .equipment,
  .calc,
  .calc-hidden,
  .others,
  .projects,
  .recent,
  .consult,
  .seotext,
  .card__main-car-over
    display none !important
    
  .content:not(.index)
    pt 100px
    
  .header
    box-shadow none
    pos static
    &-bottom
      h 94px
    &__contacts
      db()