.recent
  &__car
    &-over
      pos relative
      .card__elem
        w 100%
        ml 0
  .swiper-button-prev
    l -73px
    outline none
    @media $lDesktopMax
      l -55px
    @media $tLandscapeMax
      t 0
      l 0
  .swiper-button-next
    r -73px
    outline none
    @media $lDesktopMax
      r -55px
    @media $tLandscapeMax
      t 0
      r auto
      l 66px
  .swiper-buttons
    @media $tLandscapeMax
      pos relative
      margin 0 auto
      z-index 10
      w 110px
      h 44px
      mt 30px