.video
  padding 80px 0
  .container
    display flex
    flex-direction column
    flex-wrap wrap
    h 732px
  &__elem
    w calc(50% - 15px)
    h 336px
    pos relative
    mb 30px
    &_bigger
      h 702px
      ml 30px
    &-bg
      pos absolute
      w 100%
      h 100%
      background-size cover
