html,
body
  font-family $os
body
  overflow-x: hidden

html.burgeropen
  overflow hidden
  
.container
  max-width 1330px
  margin 0 auto
  @media $desktopMax
    max-width 1120px
  @media $tLandscapeMax
    max-width 940px
  @media $tPortraitMax
    max-width 700px
  @media $mLandscape
    max-width 100%
    padding 0 30px

.content
  pt 124px
  @media $mLandscape
    pt 72px
  @media $mPortraitMax
    overflow hidden
    pb 3px
  &:not(.index)
    pt 190px
    @media $mLandscape
      pt 130px
  h1:not([class])
    color $dark
    fontify 60px 400 64px
    margin 43px 0 37px
    @media $tLandscapeMax
      fontify 50px 400 54px
    @media $mLandscapeMax
      fontify 32px 400 36px
    @media $mPortraitMax
      fontify 28px 400 36px
  h2:not([class])
    color $dark
    fontify 44px 400 48px
    margin 43px 0 28px
    @media $tLandscapeMax
      fontify 38px 400 44px
    @media $mLandscapeMax
      fontify 26px 400 32px
  h3:not([class])
    color $dark
    fontify 30px 400 36px
    margin 43px 0 28px
    @media $tLandscapeMax
      fontify 24px 400 34px
    @media $mLandscapeMax
      fontify 22px 400 28px
  h4:not([class])
    color $dark
    fontify 24px 400 34px
    margin 43px 0 16px
    @media $mLandscapeMax
      fontify 22px 400 28px
  img:not([class])
    margin 17px 0
    max-width 100%
  img:not([class]) + *:not(img)
    mt 0px
  ul:not([class])
    list-style  none
    margin  18px 0
  ul:not([class]) li
    pl 30px
    pos relative
    fontify 14px 400 22px
  ul:not([class]) li + li
    mt 18px
  ul:not([class]) li:before
    content ""
    pos absolute
    l 0
    t 10px
    size 14px 2px
    bgc $orange
  ol:not([class])
    list-style none
    margin 18px 0
    counter-reset myCounter
  ol:not([class]) li
    pl 30px
    pos relative
    fontify 14px 400 22px
  ol:not([class]) li + li
    mt 18px
  ol:not([class]) li:before
    counter-increment myCounter
    content counter(myCounter)"."	
    pos absolute
    l 0
    t 0
    w 30px
    pr 9px
    color $orange
    fontify 14px 400 22px
  table:not([class])
    margin 23px 0
  table:not([class]) th
    text-align left
    padding 18px 20px
    color white
    bgc $orange
    fontify 14px 400 16px 
  table:not([class]) td
    padding 14px 20px
    color $dark
    fontify 12px 400 22px 
  table:not([class]) tr:nth-child(2n)
    bgc whitesmoke
  p:not([class])
    color $dark
    fontify 14px 400 22px
    margin 18px 0
  a:not([class])
    color $orange
    border-bottom 1px solid
    transition .5s border
    &:hover
      border-color transparent
 
  *:not([class]):not(span):first-child
    mt 0 !important
  *:not([class]):not(span):last-child
    margin-bottom 0 !important

input::-webkit-input-placeholder
  color alpha(white, .5)
input::-moz-placeholder
  color alpha(white, .5)
input:-ms-input-placeholder
  color alpha(white, .5)

div[class\^="table-scroller"]
  w calc(100% + 144px)
  pos relative
  overflow auto
  @media $tLandscapeMax
    w 100%

.common
  &__title
    color $dark
    fontify 44px 400 54px
    mb 25px
    @media $desktopMax
      fontify 38px 400 46px
    @media $tPortraitMax
      fontify 32px 400 36px
    @media $mPortraitMax
      fontify 24px 400 28px
  &__back
    ib()
    pos relative
    mt 20px
    ml 33px
    color $dark
    fontify 14px 500 18px
    border-bottom 2px solid $orange
    transition .5s border
    &:hover
      border-color transparent
    &:before
      content ""
      pos absolute
      l -33px
      t 2px
      size 24px 14px
      background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAMAAAACJixMAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAYFBMVEUODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg7////uD/eTAAAAHnRSTlMAR7gNT/lwWPqJX/x/af51dGuIcm1od4FXigFO+Lahd6hkAAAAAWJLR0QfBQ0QvQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAFZJREFUGNN1kDcSgEAMA0W+I5icQf9/JjeUjNhyt7EFvERxAkWaMVe+cPTKlxVr5Rtjq3xn1ivvqcHwFzCaTfIHzMZFl3DuqsvmuB+ynJeeJIx4f0d8AJUECH5++C7JAAAAAElFTkSuQmCC") no-repeat center

.text
  &_short
    max-width 877px
    @media $tLandscapeMax
      max-width 100%
      
.breadcrumbs
  mb 18px
  &__href
    color alpha($dark, .8)
    fontify 12px 400 18px
    border-bottom 1px solid alpha(#5d5d5d, .25)
    transition .5s border
    &:hover
      border-color transparent
  &__delim
    padding 0 9px
    fontify 12px 400 18px
  & + h1:not([class])
    mt 0

.btn
  ib()
  bgc $orange
  border 0
  border-radius 24px
  color white
  outline none
  cursor pointer
  font-family $os
  fontify 14px 300 48px
  letter-spacing .1em
  text-transform uppercase;
  padding 0 45px
  transition .5s background
  &:hover
    bgc $orangeHov
  @media $tPortraitMax
    fontify 13px 300 38px
    padding 0 25px

input.warning,
textarea.warning
  border-color #ff3a0f

.hidden-block
  display none