$font-size = 14px
$font-lh = 22px
$font-weight = 400
$font-style = normal
$font = $font-style $font-weight $font-size / $font-lh Arial

$color = #000

$mPortrait = '(min-width:320px)'
$mPortraitMax = '(max-width:479px)'
$mLandscape = '(max-width:767px)'
$mLandscapeMax = '(max-width:768px)'
$tPortrait = '(min-width:769px)'
$tPortraitMax = '(max-width:991px)'
$tLandscape = '(min-width:992px)'
$tLandscapeMax = '(max-width:1199px)'
$desktop = '(min-width:1200px)'
$desktopMax = '(max-width:1366px)'
$lDesktop = '(min-width:1600px)'

imgCentering()
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)